.messages-container {
  padding: 1rem;
  .user-chat {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 0.43px solid #c6c6c6;
    outline: none;
    text-decoration: none;
    padding: 14px 0;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
    transition: all 0.2s ease-in-out;
    &:hover,
    &.active {
      background-color: rgba($color: $tertiary, $alpha: 0.1);
    }
    p {
      margin-bottom: 0;
    }
    .time {
      font-size: 10px;
      font-family: $font-family-medium;
      color: $tertiary;
    }
    .name {
      font-family: $font-family-medium;
      columns: $primary;
    }
    &.unread {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.586' height='18.586' viewBox='0 0 18.586 18.586'%3E%3Cg id='unread' transform='translate(-582.564 -271.865)'%3E%3Ctext id='_' data-name='!' transform='translate(590.223 284.54)' fill='%2326506e' font-size='11.076' font-family='SofiaPro-Bold, Sofia Pro' font-weight='700'%3E%3Ctspan x='0' y='0'%3E!%3C/tspan%3E%3C/text%3E%3Cpath id='Path_2477' data-name='Path 2477' d='M396.457,105.807a8.444,8.444,0,1,1-8.444,8.444,8.454,8.454,0,0,1,8.444-8.444m0-.849a9.293,9.293,0,1,0,9.293,9.293,9.293,9.293,0,0,0-9.293-9.293' transform='translate(195.4 166.907)' fill='%23adadad'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    &.read {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.636' height='15.117' viewBox='0 0 17.636 15.117'%3E%3Cpath id='read' d='M405.491,157.766a1.638,1.638,0,0,0-.8-1.428l-8.02-3.992-8.02,3.992a1.732,1.732,0,0,0-.8,1.428v8.017a1.685,1.685,0,0,0,1.679,1.68h14.277a1.685,1.685,0,0,0,1.679-1.68Zm-8.818,4.028-6.747-4.409,6.746-3.36,6.746,3.36Z' transform='translate(-387.855 -152.346)' fill='%23adadad'/%3E%3C/svg%3E%0A");
      .time,
      .name {
        color: #b2b2b2;
      }
    }
  }
}

.main-chat{
    padding: 4rem;
    position: relative;
    .heading{
        border-bottom: 1px solid #C6C6C6;
        padding-bottom: 20px;
        background-color: white;
        position: sticky;
        top: 0;
        h5{
            font-size: 24px;
            font-family: $font-family-semibold;
        }
    }
    .text{
        font-size: 1rem;
        color: $primary;
        line-height: 1.6;
        font-size: 14px;
        padding-top: 20px;
        padding-bottom: 146px;
        font-family: $font-family-light;
    }
    .bottom-info{
        position: absolute;
        bottom: 0;
        left: 50%;
        width: calc(100% - 8rem);
        transform: translateX(-50%);
        background-color: white;
        z-index: 1;
        border-top: 1px solid #C6C6C6;
        padding-top: 24px;
        *{
            color: #B2B2B2;
            font-style: italic;
        }
    }
}